<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/insert_part_category">
    <input name="part_name" type="text">
    <input type="submit">
</form>
hi
<%
for(var i=0;i<length;i++){
%>
<%= data[i]%>
<%
}
%>
</body>
</html>
