<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<%
for(var i=0;i<length;i++){
%>
<button type="button"><%= data[i].part_name%></button><br><br>
<%
}
%>
</body>
</html>
