<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/insert">
    <input name="title" type="text">
    <input name="car" type="text">
    <input name="company" type="text">
    <input name="price" type="text">
    <input type="submit">
</form>
hi
<%
for(var i=0;i<length;i++){
%>
<%= data[i]%>
<%
}
%>
</body>
</html>
